.input_field {
  background-color: var(--caja-mensaje);
  color: white;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1px;
  height: 4rem;
  width: fit;
  border: 1px;
  border-style: solid;
  border-color: transparent;
  box-sizing: border-box;
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 1rem;
  transition: ease-in;
  transition-duration: 300ms;
}

.input_field:focus {
  transition: ease-in;
  transition-duration: 300ms;
  outline: none;
  border-color: var(--boton-bg-pressed);
}
