.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 4.4rem;
  height: 100vh;
  background-color: var(--sidebar-color);
  z-index: 50;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.chatBtn,
.mapBtn,
.exitBtn,
.themeBtn {
  background-color: transparent;
  border: none;
  height: auto;
  width: auto;
}

.tema img,
.mapa img,
.salir img,
.nuevo_chat img {
  height: 2rem;
  width: 1.5rem;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.tema img:hover,
.mapa img:hover,
.salir img:hover,
.nuevo_chat img {
  cursor: pointer;
  transform: scale(1.4);
  filter: brightness(1.2);
}
