@import "tailwindcss";
@import "tailwind-animations";
@plugin "tailwind-scrollbar";

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .gradient-container {
    @apply mask-b-from-95% mask-b-to-100% mask-t-from-95% mask-t-to-100%;
  }
  .text-hover {
    @apply text-[#899db8] transition-colors duration-300 ease-in hover:text-gray-100 focus:text-gray-100;
  }

  .logo-effect {
    @apply drop-shadow-[0_0_5px_#60A5FA] hover:drop-shadow-[0_0_20px_#60A5FA] ease-in-out duration-1000;
  }
  .input-focus {
    @apply border-[#272a2e] transition-colors duration-300 ease-in focus:border-[#637aaa] focus:outline-none;
  }
  .google-focus {
    @apply border border-zinc-900;
  }

  .abierto_text {
    @apply text-shadow-emerald-500 shadow-2xs;
  }

  .cerrado_text {
    @apply text-shadow-red-500 shadow-2xs;
  }

  .abierto_marker {
    @apply bg-emerald-500;
  }

  .cerrado_marker {
    @apply bg-red-500;
  }
}

@layer spacingInput {
  .spacing {
    padding: 0.625rem 1rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
  }
}

/*---> GLOBAL <---*/
@theme {
  --sb-button-iddle: #66718a;
  --background-home: #0a0a0a;
  --background-chat: #0a0a0a;
  --sidebar-color: #0e0e0e;
  --boton-icono: #d9d9d9;
  --boton-icono_pressed: #ffffff;
  --boton-bg-hover: #272a2d;
  --boton-bg-pressed: #637aaa;
  --boton-bg-pressed_innershadow: #393d41;
  --info-tarjeta-color: #1c1c24;
  --info-tarjeta-pressed: #3a3a4a;
  --info-tarjeta-hover: #26262f;
  --mapa-sidebar-color: #0b0c0c;
  --mapa-boton-disponible: #86ff7b;
  --mapa-boton-noDisponible: #ff7b7b;
  --user-mensaje: #1f5087;
  --ai-mensaje: #272b30;
  --caja-mensaje: #141517;
  --caja-mensaje-borderHover: var(--boton-bg-pressed);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #0a0a0a;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
}

.leaflet-layer {
  filter: grayscale(100%) invert(100%) brightness(50%);
}
