@import "tailwindcss";
@import "tailwind-animations";
@plugin "tailwind-scrollbar";

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer textHover {
  .text-hover {
    @apply text-[#899db8] transition-colors duration-300 ease-in hover:text-gray-100;
  }
}

@layer inputFocus {
  .input-focus {
    @apply border-[#272a2e] transition-colors duration-300 ease-in focus:border-[#637aaa] focus:outline-none;
  }
}

@layer components {
  .google-focus {
    @apply border border-zinc-900;
  }
}

@layer spacingInput {
  .spacing {
    padding: 0.625rem 1rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
  }
}

/*---> GLOBAL <---*/
:root {
  --background-home: #0a0a0a;
  --background-chat: #0a0a0a;
  --sidebar-color: #0e0e0e;
  --boton-icono: #d9d9d9;
  --boton-icono_pressed: #ffffff;
  --boton-bg-hover: #272a2d;
  --boton-bg-pressed: #637aaa;
  --boton-bg-pressed_innershadow: #393d41;
  --info-tarjeta-color: #1c1c24;
  --info-tarjeta-hover: #26262f;
  --info-tarjeta-pressed: #3a3a4a;
  --mapa-sidebar-color: #0b0c0c;
  --mapa-boton-disponible: #86ff7b;
  --mapa-boton-noDisponible: #ff7b7b;
  --user-mensaje: #1f5087;
  --ai-mensaje: #272b30;
  --caja-mensaje: #141517;
  --caja-mensaje-borderHover: var(--boton-bg-pressed);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #0a0a0a;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
}

.leaflet-layer {
  filter: grayscale(100%) invert(100%) brightness(50%);
}
